<p>
  <b>Creator:</b>
  <%=h @message.creator_id %>
</p>

<p>
  <b>Topic:</b>
  <%=h @message.topic_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @message.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>

<p>
  <b>Create time:</b>
  <%=h @message.create_time %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
