<h1 id="title_forum">My Forum</h1>

<table id="forum_list">
  <tr id="forum_headers">    
    <th width="60%">Name</th>
	<th width="5%">Topics</th>
	<th width="15%">Creator</th>
	<th width="20%">Creation Time</th>
  </tr>

<% for forum in @forums %>
  <tr>    
    <td id="forum_cellname">
		<%=link_to h(forum.name), forum_path(forum.id), :id=>"forum_name"%>
	</td>
	<td id="forum_cell"><%= forum.topics.count %></td>
    <td id="forum_cell"><%=forum.user.name %></td>
	<td id="forum_cell"><%=forum.create_time %></td>
    
	<% if user_signed_in? && current_user.role==1 %>
	<td id="forum_contol">
    <%= link_to 'Edit', edit_forum_path(forum) %><br/>
    <%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %>
	</td>	
	<% end %>
  </tr>
<% end %>
</table>

<% if user_signed_in? && current_user.role==1 %>
<p id="forum_new">
<%= link_to 'New forum', new_forum_path %>
</p>
<% end %>
