<h1>Add topic</h1>
<% form_for @topic do |f| %> 

<%= error_messages_for :topic %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <% if params[:forum] %>
  <input type="hidden" id="topic_forum_id" name="topic[forum_id]" value="<%=params[:forum] %>" />
  <% end %>  
  <input type="hidden" id="topic_time" name="topic[create_time]" value="<%=Time.now %>" />
  <input type="hidden" id="topic_edit" name="topic[last_edit]" value="<%=Time.now %>" />
  <input type="hidden" id="topic_creator" name="topic[user_id]" value="<%=current_user.id %>" />

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', "#{forums_path}/#{params[:forum]}" %>
