

<h1> <%= @topic.name %></h1>
<br/>
<table>
<% for message in @topic.messages %>
<tr >
	<td id="message_title"><%= message.name %> </td>
</tr>
<tr id="message_content">
	<td id="message_cell"><%= message.content %> </td>	
	<td id="message_user"><%=message.user.name %></td>
	<td id="message_time"><%=message.create_time %></td>
	<% if user_signed_in? && current_user.role==1 %>
	<td id="message_cell"> <%=link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %> </td>	
	<% end %>
</tr>

<% end %>

</table>

<%=link_to 'New Message', "#{messages_path}/new?topic=#{@topic.id}", :id=>"forum_menu"%>
<br/>
<%= link_to 'Back', "#{forums_path}/#{@topic.forum_id}", :id=>"forum_menu" %>



