<h1>New forum</h1>

<%= error_messages_for :forum %>

<% form_for(@forum) do |f| %>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
	<input type="hidden" id="forum_time" name="forum[create_time]" value="<%=Time.now %>" />
	<input type="hidden" id="forum_time" name="forum[user_id]" value="<%=current_user.id %>" />
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forums_path %>
